@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    box-sizing: border-box;
    background-color: #444444;
    overflow-x: hidden;
    overflow-y: auto;
}

.hidden { display: none !important; }

.required-star::before { content: '*'; }
.required-star {
    color: #ff0000;
    opacity: 75%;
    margin: 0 0.25em;
}

#message-box {
    width: 30vw;
    height: 300px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#hidden-input {
    position: absolute;
    top: -10vh;
    left: -10em;
}

#hidden-input #input {
    width: 0px;
    height: 0px;
}

#message-box #message {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: "Roboto";
    color: white;
}

#message-box #message.error-msg {
    color: red !important;
}

#centered-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    pointer-events: none !important;
    z-index: 2;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4em;
    z-index: 1;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.mode-add { background-color: green !important; }
header.mode-remove { background-color: red !important; }

header h2 {
    float: left;
    padding: 0 2em;
    font-family: "Roboto";
    font-weight: 100;
    color: #ffffff;
    margin: 0;
}

#new-item-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-item-container #new-item-box {
    position: relative;
    width: 85%;
    height: 85%;
    background-color: #222222;
    pointer-events: all;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#new-item-container #new-item-box .right-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#new-item-container #new-item-box div {
    width: 50%;
}

#new-item-container #new-item-box.hidden {
    pointer-events: none !important;
}

#new-item-container #new-item-box .row {
    width: 75%;
    height: 2.5em;
    margin: 2em 0 4em 2em;
    position: relative;
}

#new-item-container #new-item-box .row * {
    display: inline-block;
}

#new-item-container #new-item-box .row p {
    color: white;
    font-family: "Roboto";
    font-size: 1.2rem;
    margin: 0 0 0.25em 0;
    pointer-events: none !important;
    width: 100%;
}

#new-item-container #new-item-box .row p.invalid {
    color: red !important;
}

#new-item-container #new-item-box .row input {
    height: 100%;
    width: 20em;
    background-color: #333333;
    border-radius: 8px;
    border: none;
    outline: #111111;
    color: white;
    font-size: 1.2rem;
    padding: 0 0 0 10px;
}

#new-item-container #new-item-box #close-btn {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 3rem;
    color: #e6e6e6;
    cursor: pointer;
}

#new-item-container #new-item-box #part-description {
    width: 80%;
    height: 60%;
    border-radius: 8px;
    max-height: 80%;
    background-color: #333333;
    margin: 0.75em 0 0 0;
    color: white;
    font-family: sans-serif;
    padding: 2em 0 0 1em;
}

#new-item-container #new-item-box #part-description h1 {
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
}

#new-item-container #new-item-box #part-description h3 {
    margin: 0.25em 0 0 0;
    font-weight: 200;
}

#new-item-container #new-item-box #part-description p {
    margin: 3em 0 0 0;
    font-size: 1.1rem;
}

#new-item-container #new-item-box #save-btn {
    margin: 0.75em 0 0 0;
    width: 83%;
    height: 2.5em;
    max-height: 2.5em;
    background-color: #333333;
    border: none;
    color: white;
    font-family: "Roboto";
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

#new-item-container #new-item-box #save-btn:hover {
    background-color: #444444;
}

#new-item-container #new-item-box #save-btn:disabled {
    opacity: 50%;
    background-color: #444444;
    cursor: default !important;
}

main {
    margin: 4.5em 0 0 2em; /* 0.5em top padding */
}

main h2 {
    color: white;
    font-family: "Roboto";
}

main #user-list {
    position: absolute;
    top: 6em;
    height: 85vh;
    right: 2em;
    max-height: 90vh;
    margin: 0;
}

main #user-list ul {
    margin: 0;
    height: 100%;
}

main #user-list ul li#header {
    background-color: #007BFF;
    border-radius: 6px 6px 0 0;
    font-size: 1.5rem;
    padding: 0.5em 0;
}

main #user-list ul li {
    font-size: 1.2rem;
    color: white;
    list-style: none;
    font-family: "Roboto";
    background-color: #333333;
    padding: 0.25em 3em;
    text-align: center;
}

main #user-list ul li:last-child {
    border-radius: 0 0 6px 6px;
}

main #user-list ul li.l3 {
    color: green;
}

main #user-list ul li.l2 {
    color: blue;
}

main table {
    position: absolute;
    top: 6em;
    border-spacing: 1;
    border-collapse: collapse;
    background: #333333;
    border-radius: 6px;
    overflow: auto;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 0 auto;
    color: white;
    font-family: "Roboto";
}

main table * {
    position: relative;
}

main table td, main table th {
    padding-left: 8px;
}

main table th:first-child {
    border-radius: 6px 0 0 0;
}

main table th:last-child {
    border-radius: 0 6px 0 0;
}

main table thead tr {
    height: 60px;
    background: #007BFF;
    font-size: 18px;
}

main table tbody tr {
    height: 48px;
    border-bottom: 1px solid #222222;
}

main table tbody tr:last-child {
    border: 0;
}

main table td, main table th {
    text-align: left;
}

main table td.l, main table th.l {
    text-align: right;
}

main table td.c, main table th.c {
    text-align: center;
}

main table td.r, main table th.r {
    text-align: center;
}

main table #search-btn {
    margin: 0 0 0 0.25em;
    font-size: 1.2rem;
    cursor: pointer;
}
  
@media screen and (max-width: 35.5em) {
    main table {
        display: block;
    }

    main table > *, main table tr, main table td, main table th {
        display: block;
    }

    main table thead {
        display: none;
    }

    main table tbody tr {
        height: auto;
        padding: 8px 0;
    }

    main table tbody tr td {
        padding-left: 45%;
        margin-bottom: 12px;
    }

    main table tbody tr td:last-child {
        margin-bottom: 0;
    }

    main table tbody tr td:before {
        position: absolute;
        font-weight: 700;
        width: 40%;
        left: 10px;
        top: 0;
    }

    main table tbody tr td:nth-child(1):before {
        content: "Item";
    }

    main table tbody tr td:nth-child(2):before {
        content: "Barcode";
    }

    main table tbody tr td:nth-child(3):before {
        content: "SKU";
    }

    main table tbody tr td:nth-child(4):before {
        content: "Location";
    }

    main table tbody tr td:nth-child(5):before {
        content: "Quantity";
    }
}