@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    box-sizing: border-box;
    background-color: #444444;
    overflow: hidden;
}

.hidden { display: none !important; }

#message-box {
    width: 30vw;
    height: 300px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#hidden-input {
    position: absolute;
    top: -10vh;
    left: -10em;
}

#hidden-input #input {
    width: 0px;
    height: 0px;
}

#message-box #message {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: "Roboto";
    color: white;
}

#message-box #message.error-msg {
    color: red !important;
}

#centered-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4em;
    background-color: #333333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header #user-name {
    float: left;
    padding: 0 0 0 2em;
    font-family: "Roboto";
    font-weight: 100;
    color: #ffffff;
    margin: 0;
}

main {
    margin: 4.5em 0 0 2em; /* 0.5em top padding */
}

main h2 {
    color: white;
    font-family: "Roboto";
}

main #user-list {
    position: absolute;
    top: 6em;
    height: 85vh;
    right: 2em;
    max-height: 90vh;
    margin: 0;
}

main #user-list ul {
    margin: 0;
    height: 100%;
    overflow-y: auto; 
}

main #user-list ul li#header {
    background-color: #007BFF;
    border-radius: 6px 6px 0 0;
    font-size: 1.5rem;
    padding: 0.5em 0;
}

main #user-list ul li {
    font-size: 1.2rem;
    color: white;
    list-style: none;
    font-family: "Roboto";
    background-color: #333333;
    padding: 0.25em 3em;
    text-align: center;
}

main #user-list ul li:last-child {
    border-radius: 0 0 6px 6px;
}

main #user-list ul li.l3 {
    color: green;
}

main #user-list ul li.l2 {
    color: blue;
}

main table {
    position: absolute;
    top: 6em;
    border-spacing: 1;
    border-collapse: collapse;
    background: #333333;
    border-radius: 6px;
    overflow: auto;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 0 auto;
    color: white;
    font-family: "Roboto";
}

main table * {
    position: relative;
}

main table td, main table th {
    padding-left: 8px;
}

main table th:first-child {
    border-radius: 6px 0 0 0;
}

main table th:last-child {
    border-radius: 0 6px 0 0;
}

main table thead tr {
    height: 60px;
    background: #007BFF;
    font-size: 18px;
}

main table tbody tr {
    height: 48px;
    border-bottom: 1px solid #222222;
}

main table tbody tr:last-child {
    border: 0;
}

main table td, main table th {
    text-align: left;
}

main table td.l, main table th.l {
    text-align: right;
}

main table td.c, main table th.c {
    text-align: center;
}

main table td.r, main table th.r {
    text-align: center;
}
  
  @media screen and (max-width: 35.5em) {
    main table {
      display: block;
    }

    main table > *, main table tr, main table td, main table th {
      display: block;
    }
    
    main table thead {
      display: none;
    }

    main table tbody tr {
      height: auto;
      padding: 8px 0;
    }

    main table tbody tr td {
      padding-left: 45%;
      margin-bottom: 12px;
    }

    main table tbody tr td:last-child {
      margin-bottom: 0;
    }

    main table tbody tr td:before {
      position: absolute;
      font-weight: 700;
      width: 40%;
      left: 10px;
      top: 0;
    }

    main table tbody tr td:nth-child(1):before {
      content: "Item";
    }

    main table tbody tr td:nth-child(2):before {
      content: "Barcode";
    }

    main table tbody tr td:nth-child(3):before {
      content: "SKU";
    }

    main table tbody tr td:nth-child(4):before {
      content: "Location";
    }

    main table tbody tr td:nth-child(5):before {
      content: "Quantitiy";
    }
  }